.titulo {
  padding-top: 30px;
  margin: 0px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(218, 221, 2);
  font-weight: 500px;
}

.campo_perfil {
  font-size: 25px;
}

.campos {
  width: 100%;
}

.body {
  margin-bottom: 50px;
}

.formulario {
  background-color: rgb(241, 241, 234);
  border-radius: 7px;
  padding: 30px;
  width: 30%;
  margin: 0 auto;

  margin-bottom: 190px;

  display: block;

}