<div class="container">
    <div class="d-flex justify-content-center p-5">
        <h2>Detalles de la Solicitud</h2>
    </div>

    <form>

        <div class="background-gray rounded w-50 p-4 mb-5">
            <div class="my-3">
                <label for="date_request" class="form-label">Fecha solicitud: </label>

                

            </div>
            <div class="my-3">
                <label for="name" class="form-label">Nombre</label>

            

            </div>

            <div class="my-3">
                <label for="lastname" class="form-label">Apellidos</label>

            </div>

            <div class="my-3">
                <label class="form-label" for="area">Area</label>

            </div>
            <div class="my-3">
                <label class="form-label" for="departament">Departamento</label>


            </div>
            <div class="my-3">
                <label for="project_code" class="form-label">Código de proyecto</label>
            </div>
            <div class="my-3">
                <label for="expense_motive" class="form-label">Motivo Gasto</label>

            </div>
            <div class="my-3">
                <label for="expense_date" class="form-label">Fecha realización Gasto</label>

            </div>
            <div class="my-3">
                <label class="form-label" for="expense_type"><strong>Tipo de Gasto</strong></label>


            </div>
            <div class="my-3">
                <label for="expense_amount" class="form-label">Importe Gasto</label>

            </div>
            <div class="my-3">
                <label for="expense_receipt" class="form-label">Adjunto justificante gasto</label>

            </div>
            

        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-bravent text-white mb-5 test-align-center" [routerLink]="['/home']">Volver Atras</button>
        </div>

    </form>
    
</div>