h2 {
  align-content: center;
  text-align: center;
  color: rgb(218, 221, 2);
  margin-bottom: 60px;
  margin-top: 40px;
}

button {
  color: white;
  background-color: rgb(2, 7, 38);
  margin-bottom: 10px;
}